body {
    margin: 20px;
    background-color: #dddddd;
    font-family: "Roboto";
}

#container {
    width: 700px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 10px 5px 5px #cccccc;
    border-radius: 10px;
    background-color: #eeeeee;
    text-align: center;
    color: #444;
}

#container #logo {
    width: 100px;
}

#container h1 {
    font-size: 20px;
}

#container h2 {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
}

.link-list {
    list-style: none;
    margin: 60px 0 100px 0;
    padding: 0;
}

.link-list li {
    margin-bottom: 15px;
    border: 2px solid #444;
}

.link-list li a {
    padding: 20px;
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.1px;
    color: #444;
}

.link-list li a:hover {
    background-color: #444;
    color: white;
}

.signature {
    font-size: 10px;
    text-decoration: none;
    color: black;
}